@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("../myriad-pro-cufonfonts-webfont/Myriad Pro Regular"),
    url("../myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff")
      format("woff");
}
* {
  font-family: "Myriad Pro Regular" !important;
}
.imageProfile {
  top: -160px;
  left: 0;
  z-index: 2 !important;
  width: 150px;
  height: 150px;
}

.navigation,
.footer {
  padding: 0 7rem;
  background-color: white;
  color: gray;
}
.navigation {
  border-bottom: 1px solid lightgray;
}

.navigation,
.cardFooter {
  position: sticky;
  top: 0;
  z-index: 1;
}

.leftNav,
.rightNav {
  display: flex;
  padding: 10px 0 0;
}

.leftNav .form {
  position: relative;
  margin-left: 10px;
  width: 20rem;
  height: 45px;
}
.rightNav {
  justify-content: center;
}

.linkedinIcon {
  font-size: 55px;
  color: rgb(10, 102, 194);
}

.searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.formBlue {
  background-color: #eef3f8;
  padding-left: 45px;
}

.navBarUl {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* width: 50%; */
  margin: 0;
  padding: 0;
}
.navBarUl li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size: 0.8em;
}
.navBarUl li span {
  display: flex;
  align-items: center;
}

.navBarUl li a {
  color: #282c34;
}
.arrowGiu {
  font-size: 22px;
}

.reload:hover {
  cursor: pointer;
}

.navIcon {
  font-size: 25px;
}

.bordedLi {
  border-right: 1px solid lightgray;
}
.lente {
  position: absolute;
  top: 14px;
  font-size: 20px;
  left: 17px;
}

.footer {
  background-color: #f3f2ef;
}

.footerLeftCol,
.footerCopiright {
  padding: 0;
}
.footerCopiright {
  font-size: 0.8em;
}

.footerLeftCol ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footerLeftCol ul li {
  margin: 10px 0;
  font-size: 0.8em;
  font-weight: bold;
}

.footerTitle {
  color: blue;
  margin: 0;
  padding: 0;
}

.footerIcon {
  font-size: 25px;
}

.footer select {
  width: 100%;
}
/* .footerTitle div{
  background-color: blue;
  display: inline;
  color:white
} */

.modalPlus {
  position: absolute;
  padding: 10px;
  top: 15px;
  right: 60px;
  font-size: 45px;
  color: rgb(77, 77, 77);
}

.modalPlus:hover {
  border-radius: 20px;
  background-color: rgba(126, 125, 125, 0.267);
  cursor: pointer;
}

.modalPencil {
  position: absolute;
  padding: 5px;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: rgb(77, 77, 77);
}

.modalPencil:hover {
  border-radius: 30px;
  background-color: rgba(126, 125, 125, 0.267);
  cursor: pointer;
}

.disc {
  width: 40px;
  height: 40px;
}
.disc:hover {
  border-radius: 100px;
  background-color: rgba(126, 125, 125, 0.267);
  cursor: pointer;
}

.imageProfileNews {
  top: -50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2 !important;
  width: 60px;
  height: 60px;
  border: 1px white solid;
}

@media screen and (max-width: 768px) {
  .imageProfileNews {
    width: 80px;
    height: 80px;
    top: -71px;
  }
}

.cardProfileText {
  font-size: 0.9em;
  font-weight: 600;
  color: gray;
  width: 100%;
}

.cardProfileText:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.cardProfileTextBlu {
  font-size: 0.9em;
  font-weight: 600;
}

.cardProfileTextBlu:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cardProfileTextLink {
  font-size: 0.9em;
  font-weight: 600;
  color: gray;
  width: 100%;
}

.cardProfileTextLink:hover {
  background-color: lightgray;
  color: blue;
  cursor: pointer;
}

.iconPost {
  padding: 2%;
  font-weight: 600;
  color: rgb(102, 100, 100);
  font-size: 0.9em;
  animation: 0.5s linear;
}

.iconPost span {
  color: rgb(59, 59, 59);
  font-size: 1.1em;
}

.iconPost a:hover {
  border-radius: 50px;

  animation: iconPostHover 0.5s linear;
  cursor: pointer;
}

@keyframes iconPostHover {
  100% {
    background-color: lightgray;
  }
}

.iconPostModal {
  font-size: 2em;
}

/* CardAndFooter CSS */

.annuncio {
  display: flex;
  align-items: center;
  align-self: flex-end;
}
.annuncio h6 {
  font-size: 0.9em;
  margin: 0 9px 2px 0;
  padding: 0;
}
.threeDots {
  font-size: 20px;
}

.innerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}
.innerCard p {
  font-size: 0.8em;
  margin: 15px 0 0 0;
}

.innerCard .innerCardIcon {
  margin: 10px 10px;
}
.innerCard .innerCardIcon:nth-of-type(1) {
  font-size: 70px;
}
.innerCard .innerCardIcon:nth-of-type(2) {
  font-size: 60px;
}

.innerCard h3 {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.innerCard button {
  color: rgb(67, 67, 190);
  border-radius: 25px;
  border-color: rgb(67, 67, 190);
  padding: 7px 15px;
  border: 1px solid rgb(67, 67, 190);
  font-weight: 500;
}

.secondFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerCopirightDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
}
.footerCopirightDiv h3 {
  font-size: 1em;
  margin: 0 10px 0 0;
  color: blue;
}

.secondFooter ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1.6rem;
  padding: 0;
}

.secondFooter li {
  margin: 2px 4px;
  font-size: 0.8em;
  color: gray;
}

.footerCopiright2 {
  color: black;
  font-weight: 400;
}

/* Fine  CardAndFooter CSS */
.dropdown-menu {
  --bs-dropdown-link-active-bg: rgba(213, 213, 213, 0);
  --bs-dropdown-link-active-color: #020202;
}
.invalid {
  border: 1px solid #ff0000;
}

/* Job Page */

.bookmarkJob:hover {
  background-color: lightgray;
  cursor: pointer;
}
.select {
  background-color: #ff0000 !important;
}
.closeIcon {
  color: rgba(6, 2, 2, 0.429);
  right: 5px;
  top: 5px;
}
