.App {
  text-align: center;
  background-color: #f3f2ef !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imageProfile {
  top: -180px;
  left: 0;
  z-index: 2 !important;
  width: 150px;
}

.navigation,
.footer {
  padding: 0 7rem;
  background-color: white;
  color: gray;
}
.navigation {
  border-bottom: 1px solid lightgray;
}

.leftNav,
.rightNav {
  display: flex;
  padding: 10px 0 0;
}

.leftNav .form {
  position: relative;
  margin-left: 10px;
  width: 20rem;
  height: 45px;
}
.rightNav {
  justify-content: center;
}

.linkedinIcon {
  font-size: 55px;
  color: rgb(10, 102, 194);
}

.searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.formBlue {
  background-color: #eef3f8;
  padding-left: 45px;
}

.navBarUl {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* width: 50%; */
  margin: 0;
  padding: 0;
}
.navBarUl li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size: 0.8em;
}
.navBarUl li span {
  display: flex;
  align-items: center;
}

.navBarUl li a {
  color: #282c34;
}
.arrowGiu {
  font-size: 22px;
}

.navIcon {
  font-size: 25px;
}

.bordedLi {
  border-right: 1px solid lightgray;
}
.lente {
  position: absolute;
  top: 15px;
  font-size: 20px;
  left: 17px;
}

.footer {
  background-color: #f3f2ef;
}

.footerLeftCol,
.footerCopiright {
  padding: 0;
}
.footerCopiright {
  font-size: 0.8em;
}

.footerLeftCol ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footerLeftCol ul li {
  margin: 10px 0;
  font-size: 0.8em;
  font-weight: bold;
}

.footerTitle {
  color: blue;
  margin: 0;
  padding: 0;
}

.footerIcon {
  font-size: 25px;
}

.footer select {
  width: 100%;
}
/* .footerTitle div{
  background-color: blue;
  display: inline;
  color:white
} */

.modalPlus {
  position: absolute;
  padding: 10px;
  top: 15px;
  right: 60px;
  font-size: 45px;
  color: rgb(77, 77, 77);
}

.modalPlus:hover {
  border-radius: 20px;
  background-color: rgba(126, 125, 125, 0.267);
  cursor: pointer;
}

.modalPencil {
  position: absolute;
  padding: 5px;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 15px;
  font-size: 30px ;
  color: rgb(77, 77, 77);
}

.modalPencil:hover {
  border-radius: 30px;
  background-color: rgba(126, 125, 125, 0.267);
  cursor: pointer;
}

.imageProfileNews {
  top: -60px;
  left: 40px;
  z-index: 2 !important;
  width: 60px;
}

.cardProfileText {
  font-size: 0.9em;
  font-weight: 600;
  
}
